$font-family-sans-serif: "Lato" !default;

// Colors

$white          : #fff;
$black          : #000;
$gray           : #878787;
$gray-100       : #f8f9fa;
$gray-300       : #dee2e6;
$gray-400       : #ced4da;
$gray-500       : #adb5bd;
$gray-600       : #6c757d;
$gray-700       : #4f5467;
$regent-st-blue : #add8e6;
$river-bed      : #48525c;
$yellow-orange  : #ffa949;

$blue: #5475ed !default;
$indigo: #6610f2 !default;
$primary: #5475ed !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  white: $white,
  gray: $gray-600
);

$theme-colors: (
  primary: $blue,
  secondary: $gray-100,
  warning: $yellow-orange
);

$body-bg: #edf1f5;
$body-color: $gray-700 !default;

$navbar-brand-padding-y: 15px;

@import "bootstrap/scss/bootstrap.scss";


.bg-secondary {
  background-color: $gray-100;
}

.bg-indigo {
  background-color: #8f8989;
}

.mt-10{ 
  margin-top:10px;
}

.mt-20{ 
  margin-top:20px;
}

.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: $gray-300;
}
.key-app-bullets{
  padding: 5%;
  background: $yellow-orange;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.key-app-bullets h3{
  text-align: center;
  color: $white;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.key-app-bullets .btnSubmit{
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.key-app-bullets .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
.tweet-list {
  list-style: none;
  margin: 8px 4px 0;
  padding: 0;
}
.tweet-card {
  background-color: #fff;
  border-bottom: 1px solid #e6ecf0;
  min-height: 52px;
  padding: 9px 12px;
}

.tweet-content {
  margin-left: 58px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
.tweet-card-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  float: left;
  margin-top: 0px;
  margin-left: -58px;
}

.tweet-footer-btn {
  margin-right: 30px;
}
.tweet-footer-btn i, .tweet-footer-btn span {
  color: #657786;
  font-size: 16px;
}
.tweet-footer-btn span {
  margin-left: 8px;
}


.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:focus,.btn-twitter.focus{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:hover{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}.btn-twitter:active:hover,.btn-twitter.active:hover,.open>.dropdown-toggle.btn-twitter:hover,.btn-twitter:active:focus,.btn-twitter.active:focus,.open>.dropdown-toggle.btn-twitter:focus,.btn-twitter:active.focus,.btn-twitter.active.focus,.open>.dropdown-toggle.btn-twitter.focus{color:#fff;background-color:#1583d7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled.focus,.btn-twitter[disabled].focus,fieldset[disabled] .btn-twitter.focus{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter .badge{color:#55acee;background-color:#fff}

// bootstrap gallery for books
.gallery-block{
	padding-bottom: 10px;
	padding-top: 10px;
}

.gallery-block .heading{
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

img {
  width: 100%;
}